.node {
    margin: 25px;
    border: solid;
    border-radius: 20px;
    padding: 20px;
}

.spacer {
    margin: 25px;
    display: block;
}
.warnings,.errors {
    margin: auto;
    width: 1000px;
    max-width: 95%;
    margin-top: 20px;
}
.node-info {
    margin-top: 5px;
    margin-bottom: 5px;
}
.node-info > p{
    margin: 0;
}
.node.warning {
    border-color: #FFA500;
}
.node.error {
    border-color: #FF0000;
}
